@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "IBM Plex Sans", "Segoe UI", "PingFang SC", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  min-height: 100%;
}

body {
  background: #020617;
  color: #e2e8f0;
}
